<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#SQL-Introduction" data-toc-modified-id="SQL-Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>SQL Introduction</a></span></li><li><span><a href="#Connect-to-the-SQL" data-toc-modified-id="Connect-to-the-SQL-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Connect to the SQL</a></span></li><li><span><a href="#Know-your-database" data-toc-modified-id="Know-your-database-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Know your database</a></span></li><li><span><a href="#Create-pandas-dataframes" data-toc-modified-id="Create-pandas-dataframes-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Create pandas dataframes</a></span></li><li><span><a href="#Make-dataframes-columns-dtype-good" data-toc-modified-id="Make-dataframes-columns-dtype-good-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Make dataframes columns dtype good</a></span></li><li><span><a href="#Create-pandas-df-of-all-tables-and-columns-names" data-toc-modified-id="Create-pandas-df-of-all-tables-and-columns-names-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Create pandas df of all tables and columns names</a></span></li><li><span><a href="#Section4:-Assessment-1" data-toc-modified-id="Section4:-Assessment-1-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Section4: Assessment 1</a></span><ul class="toc-item"><li><span><a href="#qn1" data-toc-modified-id="qn1-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>qn1</a></span></li><li><span><a href="#qn2" data-toc-modified-id="qn2-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>qn2</a></span></li><li><span><a href="#qn3" data-toc-modified-id="qn3-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>qn3</a></span></li></ul></li></ul></div>

# SQL Introduction

![](../images/sql_clauses.png)
![](../images/sql_mnemonic.png)

# Connect to the SQL

In [1]:
import numpy as np
import pandas as pd
import os
import yaml

with open( os.path.expanduser('~') + "/.postgres_conf.yml", 'r') as stream:
    try:
        yaml_dict = yaml.safe_load(stream)
    except yaml.YAMLError as exc:
        print(exc)

pw = yaml_dict['password']
port = yaml_dict['port']

%load_ext sql
%sql postgres://postgres:$pw@localhost:$port/dvdrental

'Connected: postgres@dvdrental'

# Know your database

In [2]:
%%sql
SELECT TABLE_NAME
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE'
AND TABLE_CATALOG='dvdrental'
and TABLE_NAME  not like 'pg_%'
and TABLE_NAME  not like 'sql_%'
-- order by table_name

 * postgres://postgres:***@localhost:5432/dvdrental
20 rows affected.

[('actor',),
 ('store',),
 ('address',),
 ('category',),
 ('city',),
 ('country',),
 ('customer',),
 ('film_actor',),
 ('film_category',),
 ('inventory',),
 ('language',),
 ('rental',),
 ('staff',),
 ('payment',),
 ('film',),
 ('employee',),
 ('staffnew',),
 ('df',),
 ('sales2007q1',),
 ('sales2007q2',)]

In [3]:
%%sql
select column_name, data_type, character_maximum_length
    from INFORMATION_SCHEMA.COLUMNS 
    where table_name = 'customer';

 * postgres://postgres:***@localhost:5432/dvdrental
10 rows affected.

[('customer_id', 'integer', None),
 ('store_id', 'smallint', None),
 ('first_name', 'character varying', 45),
 ('last_name', 'character varying', 45),
 ('email', 'character varying', 50),
 ('address_id', 'smallint', None),
 ('activebool', 'boolean', None),
 ('create_date', 'date', None),
 ('last_update', 'timestamp without time zone', None),
 ('active', 'integer', None)]

In [4]:
%%sql
-- select * from staff limit 2; -- This gives error in jupyter notebook
select * from actor limit 2;

 * postgres://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(1, 'Penelope', 'Guiness', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)),
 (2, 'Nick', 'Wahlberg', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))]

# Create pandas dataframes

In [5]:
staffs = pd.read_csv('../data/dvdrental/2187.dat', sep=r'\t',
                     header=None, engine='python')

cols = ['staff_id', 'first_name', 'last_name', 'address_id', 'email',
        'store_id', 'active', 'username', 'password', 'last_update',
        'picture']

staffs.columns = cols
staffs = staffs.head(2)
staffs['active'] = True
staffs.drop('picture',axis=1,inplace=True)
print(staffs.shape)
staffs.head()

(2, 10)

,staff_id,first_name,last_name,address_id,email,store_id,active,username,password,last_update
0,1,Mike,Hillyer,3,Mike.Hillyer@sakilastaff.com,1,True,Mike,8cb2237d0679ca88db6464eac60da96345513964,2006-05-16 16:13:11.79328
1,2,Jon,Stephens,4,Jon.Stephens@sakilastaff.com,2,True,Jon,8cb2237d0679ca88db6464eac60da96345513964,2006-05-16 16:13:11.79328

In [6]:
tables = ['staffs', 'category', 'film_category', 'country', 'actor',
          'language', 'inventory', 'payment', 'rental', 'city',
          'store', 'film', 'address', 'film_actor', 'customer']

staff = tables[0] # we do not use it, we use staffs dataframe. but keep name staffs.
category = tables[1]
film_category = tables[2]
country = tables[3]
actor = tables[4]
language = tables[5]
inventory = tables[6]
payment = tables[7]
rental = tables[8]
city = tables[9]
store = tables[10]
film = tables[11]
address = tables[12]
film_actor = tables[13]
customer = tables[14]

In [7]:
# first create separate sql tables so that we can convert them to pandas dataframes.
# staff = %sql select * from $staff;  # this fails
category = %sql select * from $category;
film_category = %sql select * from $film_category;
country = %sql select * from $country;
actor = %sql select * from $actor;
language = %sql select * from $language;
inventory = %sql select * from $inventory;
payment = %sql select * from $payment;
rental = %sql select * from $rental;
city = %sql select * from $city;
store = %sql select * from $store;
film = %sql select * from $film;
address = %sql select * from $address;
film_actor = %sql select * from $film_actor;
customer = %sql select * from $customer;

 * postgres://postgres:***@localhost:5432/dvdrental
16 rows affected.
 * postgres://postgres:***@localhost:5432/dvdrental
1000 rows affected.
 * postgres://postgres:***@localhost:5432/dvdrental
109 rows affected.
 * postgres://postgres:***@localhost:5432/dvdrental
200 rows affected.
 * postgres://postgres:***@localhost:5432/dvdrental
6 rows affected.
 * postgres://postgres:***@localhost:5432/dvdrental
4581 rows affected.
 * postgres://postgres:***@localhost:5432/dvdrental
14596 rows affected.
 * postgres://postgres:***@localhost:5432/dvdrental
16044 rows affected.
 * postgres://postgres:***@localhost:5432/dvdrental
600 rows affected.
 * postgres://postgres:***@localhost:5432/dvdrental
2 rows affected.
 * postgres://postgres:***@localhost:5432/dvdrental
1000 rows affected.
 * postgres://postgres:***@localhost:5432/dvdrental
603 rows affected.
 * postgres://postgres:***@localhost:5432/dvdrental
5462 rows affected.
 * postgres://postgres:***@localhost:5432/dvdrental
599 rows affected.

In [8]:
category = category.DataFrame()
film_category = film_category.DataFrame()
country = country.DataFrame()
actor = actor.DataFrame()
language = language.DataFrame()
inventory = inventory.DataFrame()
payment = payment.DataFrame()
rental = rental.DataFrame()
city = city.DataFrame()
store = store.DataFrame()
film = film.DataFrame()
address = address.DataFrame()
film_actor = film_actor.DataFrame()
customer = customer.DataFrame()

# Make dataframes columns dtype good

In [9]:
df_tables = [staffs, category, film_category, country, actor,
            language, inventory, payment, rental, city,
            store, film, address, film_actor, customer]

In [10]:
def show_first_value_and_dtype(num):
    df_tables_dtypes = [df_tables[i].dtypes.to_frame()
                        for i in range(len(df_tables)) ]
    df_tables_first_value = [df_tables[i].head(1).T
                             for i in range(len(df_tables)) ]

    display(pd.concat([df_tables_first_value[num], df_tables_dtypes[num]],
                      axis=1, sort=True,ignore_index=True)
     .rename(columns={0: 'value', 1: 'dtype'})
     .style.apply(lambda x: ['background: lightblue' 
                             if x['dtype'] == 'object'
                             else ''
                             for _ in x],axis=1)
            .set_caption('Dataframe name: ' + tables[num])
    )

In [11]:
len(tables)

15

In [12]:
show_first_value_and_dtype(0)

In [13]:
staffs['last_update'] = pd.to_datetime(staffs['last_update'])

payment['amount'] = pd.to_numeric(payment['amount'], errors='coerce')

film['rental_rate'] = pd.to_numeric(film['rental_rate'], errors='coerce')
film['replacement_cost'] = pd.to_numeric(film['replacement_cost'], errors='coerce')

customer['create_date'] = pd.to_datetime(customer['create_date'])

# Create pandas df of all tables and columns names

In [14]:
df_tables = [staffs, category, film_category, country, actor,
            language, inventory, payment, rental, city,
            store, film, address, film_actor, customer]

all_columns = [df.columns.tolist() for df in df_tables]
df_tables_cols = pd.DataFrame(all_columns).T.fillna('')
df_tables_cols.columns = tables
df_tables_cols

,staffs,category,film_category,country,actor,language,inventory,payment,rental,city,store,film,address,film_actor,customer
0,staff_id,category_id,film_id,country_id,actor_id,language_id,inventory_id,payment_id,rental_id,city_id,store_id,film_id,address_id,actor_id,customer_id
1,first_name,name,category_id,country,first_name,name,film_id,customer_id,rental_date,city,manager_staff_id,title,address,film_id,store_id
2,last_name,last_update,last_update,last_update,last_name,last_update,store_id,staff_id,inventory_id,country_id,address_id,description,address2,last_update,first_name
3,address_id,,,,last_update,,last_update,rental_id,customer_id,last_update,last_update,release_year,district,,last_name
4,email,,,,,,,amount,return_date,,,language_id,city_id,,email
5,store_id,,,,,,,payment_date,staff_id,,,rental_duration,postal_code,,address_id
6,active,,,,,,,,last_update,,,rental_rate,phone,,activebool
7,username,,,,,,,,,,,length,last_update,,create_date
8,password,,,,,,,,,,,replacement_cost,,,last_update
9,last_update,,,,,,,,,,,rating,,,active
10,,,,,,,,,,,,last_update,,,
11,,,,,,,,,,,,special_features,,,
12,,,,,,,,,,,,fulltext,,,

In [15]:
# find repeated column names
repeated_cols = (pd.Series([i for sub in all_columns for i in sub])
                 .value_counts()
                 .loc[lambda x: x>1]
                 .index.values.tolist()
                )
# create colors dict
cells = repeated_cols
colors = ['salmon', 'khaki','rosybrown','tomato',
          'olive', 'gray',  'mediumpurple',
          'orchid',  'plum','lavender', 'lightgreen',
          'lightsteelblue', 
          'lightblue','skyblue','orange','orangered'][:len(cells)]
cell_colors = dict(zip(cells,colors))

# colored dataframe
df_tables_cols.style.apply(lambda x: ["background: %s" % cell_colors[v] 
                          if  v in cell_colors.keys()
                          else "" for v in x], axis = 1)

# Section4: Assessment 1
ASSESSMENT TEST 1

COMPLETE THE FOLLOWING TASKS!

1. Return the customer IDs of customers who have spent at least $110 with the staff member who has an ID of 2.

The answer should be customers 187 and 148.

2. How many films begin with the letter J?

The answer should be 20.

3. What customer has the highest customer ID number whose name starts with an 'E' and has an address ID lower than 500?

The answer is Eddie Tomlin

## qn1
Return the customer IDs of customers who have spent at least $110 with the staff member who has an ID of 2.
The answer should be customers 187 and 148.

In [16]:
df_tables_cols

,staffs,category,film_category,country,actor,language,inventory,payment,rental,city,store,film,address,film_actor,customer
0,staff_id,category_id,film_id,country_id,actor_id,language_id,inventory_id,payment_id,rental_id,city_id,store_id,film_id,address_id,actor_id,customer_id
1,first_name,name,category_id,country,first_name,name,film_id,customer_id,rental_date,city,manager_staff_id,title,address,film_id,store_id
2,last_name,last_update,last_update,last_update,last_name,last_update,store_id,staff_id,inventory_id,country_id,address_id,description,address2,last_update,first_name
3,address_id,,,,last_update,,last_update,rental_id,customer_id,last_update,last_update,release_year,district,,last_name
4,email,,,,,,,amount,return_date,,,language_id,city_id,,email
5,store_id,,,,,,,payment_date,staff_id,,,rental_duration,postal_code,,address_id
6,active,,,,,,,,last_update,,,rental_rate,phone,,activebool
7,username,,,,,,,,,,,length,last_update,,create_date
8,password,,,,,,,,,,,replacement_cost,,,last_update
9,last_update,,,,,,,,,,,rating,,,active
10,,,,,,,,,,,,last_update,,,
11,,,,,,,,,,,,special_features,,,
12,,,,,,,,,,,,fulltext,,,

In [17]:
%%sql
select * from payment limit 2;

 * postgres://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(17503, 341, 2, 1520, Decimal('7.99'), datetime.datetime(2007, 2, 15, 22, 25, 46, 996577)),
 (17504, 341, 1, 1778, Decimal('1.99'), datetime.datetime(2007, 2, 16, 17, 23, 14, 996577))]

In [18]:
%%sql
select customer_id, sum(amount)
from payment
where staff_id = 2
group by customer_id
having sum(amount) >= 110;

 * postgres://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(187, Decimal('110.81')), (148, Decimal('110.78'))]

In [19]:
payment.query('staff_id == 2')[['customer_id','amount']]\
.groupby('customer_id').sum().reset_index().query('amount >= 110')

     customer_id  amount
147          148  110.78
186          187  110.81

## qn2
How many films begin with the letter J?
The answer should be 20.

In [20]:
%%sql
select * from film limit 2;

 * postgres://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(133, 'Chamber Italian', 'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria', 2006, 1, 7, Decimal('4.99'), 117, Decimal('14.99'), 'NC-17', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Trailers'], "'chamber':1 'fate':4 'husband':11 'italian':2 'monkey':16 'moos':8 'must':13 'nigeria':18 'overcom':14 'reflect':5"),
 (384, 'Grosse Wonderful', 'A Epic Drama of a Cat And a Explorer who must Redeem a Moose in Australia', 2006, 1, 5, Decimal('4.99'), 49, Decimal('19.99'), 'R', datetime.datetime(2013, 5, 26, 14, 50, 58, 951000), ['Behind the Scenes'], "'australia':18 'cat':8 'drama':5 'epic':4 'explor':11 'gross':1 'moos':16 'must':13 'redeem':14 'wonder':2")]

In [21]:
%%sql
select count(title) from film
where title like 'J%';

 * postgres://postgres:***@localhost:5432/dvdrental
1 rows affected.

[(20,)]

In [22]:
film.title.loc[film.title.str.startswith('J')].shape

(20,)

In [23]:
film.title.loc[film.title.str.startswith('J')]

472          Jacket Frisco
473             Jade Bunch
474           Japanese Run
475             Jason Trap
476    Jawbreaker Brooklyn
477             Jaws Harry
478           Jedi Beneath
479        Jeepers Wedding
480         Jekyll Frogmen
481        Jeopardy Encino
482          Jericho Mulan
483          Jerk Paycheck
484           Jersey Sassy
485          Jet Neighbors
486       Jingle Sagebrush
487         Joon Northwest
488         Juggler Hardly
489          Jumanji Blade
490          Jumping Wrath
491          Jungle Closer
Name: title, dtype: object

In [24]:
film.loc[film.title.str.startswith('J')][['title']]

                   title
472        Jacket Frisco
473           Jade Bunch
474         Japanese Run
475           Jason Trap
476  Jawbreaker Brooklyn
477           Jaws Harry
478         Jedi Beneath
479      Jeepers Wedding
480       Jekyll Frogmen
481      Jeopardy Encino
482        Jericho Mulan
483        Jerk Paycheck
484         Jersey Sassy
485        Jet Neighbors
486     Jingle Sagebrush
487       Joon Northwest
488       Juggler Hardly
489        Jumanji Blade
490        Jumping Wrath
491        Jungle Closer

In [25]:
film.title.filter(regex=r'472') # pandas series filter if for index filtering.

472    Jacket Frisco
Name: title, dtype: object

In [26]:
film.title.reset_index().set_index('title').filter(regex='^J.*',axis=0)

                     index
title
Jacket Frisco          472
Jade Bunch             473
Japanese Run           474
Jason Trap             475
Jawbreaker Brooklyn    476
Jaws Harry             477
Jedi Beneath           478
Jeepers Wedding        479
Jekyll Frogmen         480
Jeopardy Encino        481
Jericho Mulan          482
Jerk Paycheck          483
Jersey Sassy           484
Jet Neighbors          485
Jingle Sagebrush       486
Joon Northwest         487
Juggler Hardly         488
Jumanji Blade          489
Jumping Wrath          490
Jungle Closer          491

## qn3
> What customer has the highest customer ID number whose name starts with an 'E' and has an address ID lower than 500?

- The answer is Eddie Tomlin

In [27]:
df_tables_cols.style.apply(lambda x: ["background: salmon" if  
  (v == 'customer_id' or v == 'address_id') else "" for v in x], axis = 1)

In [28]:
%%sql
select * from customer limit 2;

 * postgres://postgres:***@localhost:5432/dvdrental
2 rows affected.

[(524, 1, 'Jared', 'Ely', 'jared.ely@sakilacustomer.org', 530, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1),
 (1, 1, 'Mary', 'Smith', 'mary.smith@sakilacustomer.org', 5, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)]

In [29]:
%%sql
select customer_id, first_name, last_name, address_id
from customer
where first_name like 'E%' and address_id < 500
order by customer_id desc
limit 1;

 * postgres://postgres:***@localhost:5432/dvdrental
1 rows affected.

[(434, 'Eddie', 'Tomlin', 439)]

In [30]:
customer[customer.first_name.str.startswith('E')]\
.query('address_id < 500')\
.nlargest(1, 'customer_id')\
.loc[:, ['customer_id','first_name','last_name','address_id']]

     customer_id first_name last_name  address_id
434          434      Eddie    Tomlin         439

In [31]:
customer[customer.first_name.str.startswith('E')]\
.loc[lambda x: x['address_id'] < 500]\
.nlargest(1, 'customer_id')\
.loc[:, ['customer_id','first_name','last_name','address_id']]

     customer_id first_name last_name  address_id
434          434      Eddie    Tomlin         439