<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import sys
sys.path.append('../utils')

import psycopg2
import util_database
from util_database import *

In [2]:
dbname, dbuser, dbpass, dbport = get_postgres_configs('dvdrental')
%load_ext sql
%sql postgres://postgres:$dbpass@localhost:$dbport/$dbname

'Connected: postgres@dvdrental'

In [3]:
from IPython.display import display_javascript
js = "IPython.CodeCell.options_default.highlight_modes['magic_text/x-mssql'] = {'reg':[/^##%%sql/]};"
display_javascript(js, raw=True)

In [4]:
##%%sql
q = " select * from customer limit 2;"
execute_query(q,dbname)

,customer_id,store_id,first_name,last_name,email,address_id,activebool,create_date,last_update,active
0,524,1,Jared,Ely,jared.ely@sakilacustomer.org,530,True,2006-02-14,2013-05-26 14:49:45.738,1
1,1,1,Mary,Smith,mary.smith@sakilacustomer.org,5,True,2006-02-14,2013-05-26 14:49:45.738,1